---
layout: layout.njk
---
<nav class="navbar">
  <a href="/">Home</a>
  <a href="/bio">Bio</a>
  <div class="dropdown">
    <button class="dropbtn active">Music <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
      <a href="/bandcamp">Bandcamp</a>
      <a href="/spotify">Spotify</a>
    </div>
  </div>
  <a href="/videos">Videos</a>
  <a href="/photos">Photos</a>
  <a href="/equipment">Equipment</a>
  <a href="/media">Media</a>
</nav>
<main>
  <div class="album-left">
    <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1017695611/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://liviajazzrecords.bandcamp.com/album/out-on-his-own-2">Out On His Own by Louis Stewart</a></iframe>
  </div>
  <div class="album-right">
    <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1136550282/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://liviajazzrecords.bandcamp.com/album/louis-the-first">LOUIS THE FIRST by Louis Stewart</a></iframe>
  </div>
  <div class="album-left">
    <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1378844892/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://louisstewartjimdoherty.bandcamp.com/album/tunes">TUNES by Louis Stewart &amp; Jim Doherty</a></iframe>
  </div>
  <div class="album-right">
    <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=49313685/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://louisstewartjimdoherty.bandcamp.com/album/spondance">SPONDANCE by Jim Doherty</a></iframe>
  </div>
  <div class="album-left">
    <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1090229337/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://liviarecords.bandcamp.com/album/some-other-blues">SOME OTHER BLUES by Louis Stewart Noel Kelehan</a></iframe>
  </div>
</main>