---
layout: layout.njk
---
<nav class="navbar">
  <a href="/">Home</a>
  <a class="active" href="/bio">Bio</a>
  <div class="dropdown">
    <button class="dropbtn">Music
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/bandcamp">Bandcamp</a>
      <a href="/soundcloud">SoundCloud</a>
    </div>
  </div>
  <a href="/videos">Videos</a>
  <a href="/photos">Photos</a>
  <a href="/equipment">Equipment</a>
  <a href="/media">Media</a>
</nav>
<main>
  <h2>Louis The First</h2>
  <p>Louis Anthony Stewart was born in Waterford on January 5th, 1944, to Tony and Mary (nee Ryan). Though the city of his birth is often cited in profiles of Stewart, it is somewhat misleading as both his parents were from Dublin and the family spent only a short period in the south east. Within a year of his birth, the Stewarts moved back to Dublin and Louis grew up on Harty Place, off Clanbrassil Street, and attended Synge Street school.</p>

  <img src="/images/youngphoto.png" class="centre">

  <p>At 14, he purchased his first guitar from Waltons on Camden Street, and at 16 he made his professional debut with the Chris Lamb showband. That band also included 20-year-old pianist Jim Doherty, who would become Stewart's life-long friend and collaborator.</p>

  <h2>Out On His Own</h2>
	<p>By the age of 20, inspired by his hero Barney Kessel, Stewart had committed himself exclusively to jazz, and his reputation rapidly grew. In 1968, he was part of the Jim Doherty Quartet that won the Press Prize at the Montreux Jazz Festival. Stewart returned to Montreux the following year and won again, this time as best European soloist, a prize which included a scholarship to Berklee College of Music in Boston.</p>

  <img src="/images/ronnie-scott-louis-stewart.jpg" class="centre">

	<p>Stewart would never take up that offer. Instead, he relocated to London, joining the quartet of leading UK saxophonist Tubby Hayes and embarking on a series of tours with Benny Goodman. Between 1975 and 1979, he was a fixture in the famous Ronnie Scott quintet, playing almost nightly in the saxophonist's eponymous Soho club, where his playing attracted the attention of some of the leading jazz musicians of the day.</p>

  <h2>Back Home Again In Indiana (or Aungier Street)</h2>
	<p>Though a stellar international career clearly beckoned, Stewart returned to Dublin in the late 1970s to raise his family, and became the linchpin of a burgeoning domestic scene. His peers included pianist Noel Kelehan, drummer John Wadham and saxophonist Dick Buckley. It was in this company that Louis was most comfortable, and his long-running residencies around the city – at Conways on Parnell Street, Slatterys of Capel street, and latterly in JJ Smyths on Aungier Street – were required listening for generations of Irish jazz musicians.</p>

  <img src="/images/acoustic-guitar-duets.jpeg" class="centre">

	<p>As well as numerous "side man" appearances with some of the greats of modern jazz, he made some 20 recordings under his own name, beginning with the remarkable Louis the First (1975), and including the highly rated solo recording, Out On His Own (1977) and Acoustic Guitar Duets (1985), a marvellous duo with UK guitarist Martin Taylor.</p>

  <h2>Joyce Spring</h2>
	<p>In 1982, inspired by his great love for James Joyce, he composed Joyce Notes, which he performed to great acclaim at the Cork Jazz Festival and at the National Theatre in Oslo. His last release was a duo with Doherty, Tunes (2013), a recording the pair had been threatening to make for half a century.</p>

  <img src="/images/louis-blonde-guitar.jpg" class="centre">

  <h2>"Surprise Me"</h2>
	<p>In late 2015, Stewart was diagnosed with cancer. He died nine months later, on August 20th, 2016, at Our Lady’s Hospice, Harold’s Cross. He was 72. He is survived by his widow Elizabeth (Betty), his daughter Gráinne and his son Tony, and by his grandsons, James and Conor. His eldest daughter Catherine died in 2010 after a long battle with cancer.</p>

	<p>Louis Stewart achieved what no other Irish jazz musician before or since has managed – to become one of the most respected players of his instrument in the world. In recognition of that achievement, in 1998 he was awarded an honorary doctorate by Trinity College, Dublin, and in 2009, he became only the second jazz musician to be elected to Aosdána.</p>

	<p>One of Louis’s wittiest remarks was also one of his last. At his funeral, Stewart’s son Tony told the large and illustrious gathering, which included President Higgins, that when he asked his father whether he wanted to be buried or cremated, Louis thought for a moment and said, “surprise me”.</p>
</main>