---
layout: layout.njk
---
<nav class="navbar">
  <a class="active" href="/">Home</a>
  <a href="/bio">Bio</a>
  <div class="dropdown">
    <button class="dropbtn">Music
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/bandcamp">Bandcamp</a>
      <a href="/spotify">Spotify</a>
    </div>
  </div>
  <a href="/videos">Videos</a>
  <a href="/photos">Photos</a>
  <a href="/equipment">Equipment</a>
  <a href="/media">Media</a>
</nav>
<main>
  <img src="/images/louis-stewart-bass-clef.jpg" class="right">
  
  <p>Welcome to the website of the legendary Irish jazz guitarist Louis Stewart!</p>
  
  <p>Like many musicians and jazz fans across the country, seeing Louis play was a formative experience for me and inspired me to pursue jazz seriously. I was fortunate to meet Louis a couple of times in 2014 and tell him how much I loved his music and had all his albums, to which he replied, in classic dry Stewart humour, "so you're the one!"</p>
  
  <p>Since Louis' passing in 2016, there has been renewed interest in his recorded output. The past few years have seen reissues of classics such as Out On His Own, live recordings such as Live in London, and the release of albums which were once thought lost, such as Some Other Blues.</p>

  <p>This site is intended to provide links to Louis' music, live videos, and information about the equipment he used throughout his career for new and old fans. I hope you find something new through this site and enjoy your time here!</p>
</main>
