---
layout: layout.njk
---
<nav class="navbar">
  <a href="/">Home</a>
  <a href="/bio">Bio</a>
  <div class="dropdown">
    <button class="dropbtn">Music
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/bandcamp">Bandcamp</a>
      <a href="/spotify">Spotify</a>
    </div>
  </div>
  <a href="/videos">Videos</a>
  <a href="/photos">Photos</a>
  <a href="/equipment">Equipment</a>
  <a class="active" href="/media">Media</a>
</nav>
<main>
  <h2>Articles</h2>
  <ul>
    <li><a href="https://www.irishtimes.com/culture/music/2023/02/21/louis-stewart-an-irish-jazz-genius-on-a-par-with-seamus-heaney-and-samuel-beckett/">Irish Times - Louis Stewart: An Irish jazz genius on a par with Seamus Heaney and Samuel Beckett</a></li>
    <li><a href="https://www.irishexaminer.com/lifestyle/artsandculture/arid-41274208.html">Irish Examiner - Ireland in 50 Albums, No 23: Out On His Own, by Louis Stewart (1977)</a></li>
    <li><a href="https://www.irishtimes.com/life-and-style/people/louis-stewart-legendary-jazz-man-known-by-all-as-louis-1.2770943">Irish Times - Louis Stewart: Legendary jazz man known by all as Louis</a></li>
    <li><a href="https://www.allaboutjazz.com/louis-stewarts-out-on-his-own-a-landmark-solo-guitar-recording">All About Jazz - Louis Stewart's Out On His Own: A Landmark Solo Guitar Recording</a></li>
    <li><a href="https://www.sandybrownjazz.co.uk/JazzRemembered/LouisStewart.html">Sandy Brown Jazz - Louis Stewart</a></li>
    <li><a href="https://lance-bebopspokenhere.blogspot.com/2016/08/louis-appreciation-by-jc.html">Bebop Spoken Here - 'Louis'- An Appreciation by JC.</a></li>
  </ul>
</main>