---
layout: layout.njk
---
<nav class="navbar">
  <a href="/">Home</a>
  <a href="/bio">Bio</a>
  <div class="dropdown">
    <button class="dropbtn">Music
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/bandcamp">Bandcamp</a>
      <a href="/spotify">Spotify</a>
    </div>
  </div>
  <a href="/videos">Videos</a>
  <a class="active" href="/photos">Photos</a>
  <a href="/equipment">Equipment</a>
  <a href="/media">Media</a>
</nav>
<main class="gallery">
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/images/stewart-grappelli.jpg">
        <img src="/images/stewart-grappelli.jpg" width="600" height="400">
      </a>
      <div class="desc">Louis and Martin Taylor with Stephane Grappelli</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/images/stewart-grappelli.jpg">
        <img src="/images/stewart-lowe.jpg" width="600" height="400">
      </a>
      <div class="desc">With Mundell Lowe</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/images/stewart-grappelli.jpg">
        <img src="/images/louis-stewart-studio.jpg" width="600" height="400">
      </a>
      <div class="desc">Louis playing his Super 400 in the studio</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/images/stewart-wadham-walshe.jpg">
        <img src="/images/stewart-wadham-walshe.jpg" width="600" height="400">
      </a>
      <div class="desc">With John Wadham and Martin Walshe</div>
    </div>
  </div>

    <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/images/louis-stewart-bass-clef.jpg">
        <img src="/images/louis-stewart-bass-clef.jpg" width="600" height="400">
      </a>
      <div class="desc">At the Bass Clef in London</div>
    </div>
  </div>
  
    <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/images/rte.jpg">
        <img src="/images/rte.jpg" width="600" height="400">
      </a>
      <div class="desc">At RTE Studios</div>
    </div>
  </div>
</main>